<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>

    <style type = "text/css">
        p {
            font-size:25px;
        }
    </style>
   
</head>
<body>
    <div>
        <h1>Página de cadastro e consulta</h2>
    </div>
    <br>
        <div> 
            <p> Cadastrar cliente <a href = "formcadastrarcliente.php"> >>></a> </p>
            <p> Cadastrar livro <a href = "formcadastrarlivro.php">>>></a></p>
            <p>Cadastrar categoria <a href = "formcadastrarcategoria.php">>>></a></p>
            <br>
            <p> Consultar clientes <a href = "formconsultarcliente.php"> >>></a> </p>
            <p> Consultar livros <a href = "formconsultarlivro.php">>>></a></p>
            <p>Consultar categorias <a href = "formconsultarcategoria.php">>>></a></p>
        </div>
    
    
</body>
</html>